@media screen and (min-device-width : 350px) and (max-device-width : 400px){
  body{
    -webkit-transform:scale(0.906);
    -webkit-transform-origin: top left;
  }
}

@media screen and (min-device-width : 300px) and (max-device-width : 349px){
  body{
    -webkit-transform:scale(0.77299);
    -webkit-transform-origin: top left;
  }
}

@font-face {
  font-family:"Segoe UI";
  src: url(../fonts/SEGOEUI.TTF);
}

@font-face {
  font-family:"Segoe UI Bold";
  src: url(../fonts/SEGOEUIB.TTF);
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI';
}

.visible {
  display:block!important;
}

.hidden {
  display: none!important;
}

#mainElement {
  background-color: grey;
  position: absolute;
  width: 100%;
  height: 100%;
  margin:0px;
  padding-left: 0px;
  color: white;
}
.hand-container{
  text-align: center;
  moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.center-dial {
  position: absolute;
  top: 0.5px;
  left:0.5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 118px;
  height: 118px;
  background-color: rgba(255,255,255,.4);
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.hand-container {
  position: absolute;
  top: 0%;
  left: calc(50% - 6px);
  opacity: 0;
  filter: alpha(opacity=0);
  width: 12.5px;
  height: 118px;
  moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.hour-hand {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  position: relative;
  top: calc(50% - 59px);
  left: calc(50% - 5px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.second-hand {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid red;
  position: relative;
  top: calc(50% - 59px);
  left: calc(50% - 5px);
}

.digital-hour {
  font-family: 'Open Sans Bold';
  color: white;
  font-size:48px;
  position: absolute;
  width: 59px;
  top: 33px;
  left: -48px;
  text-align: right;
  float: right;
}

.digital-minute {
  font-family: 'Open Sans';
  color: white;
  font-size: 30px;
  position: absolute;
  top: 48px;
  left: 12px;
  text-align: left;
}

.digital-second {
  font-family: 'Open Sans';
  color: red;
  font-size: 13px;
  position: absolute;
  top: 85px;
  left: 0px;
  text-align: center;
}

#statusBar {
  display: block;
  margin:0px;
  padding:0px;
  height: 22px;
}

#tile1Count, #tile2Count, #tile5Count, #tile6Count, #tile7Count, #tile9Count,
#tile11Count, #tile18Count, #tile19Count, #tile20Count, #tile22Count, #tile23Count, #tile25Count,
#tile26Count {
  position: absolute;
  top: 93px;
  left: 55px;
  height: 100%;
  font-size: 18px;

}

#tile1Container {
  position: absolute;
  left:17px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
  }

#tile2Container{
  position: absolute;
  left:147px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
  }

#tile3Container{
  position: absolute;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
  margin: 0 auto;
}

#tile3Container img {
  position: absolute;
  left: 0px;
}

#tile4Container{
  position: absolute;
  padding:0px;
  margin: 0px;
  top:150px;
  left:17px;
  height:250px;
  width:250px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#wxIcon {
  position: absolute;
  left:15px
  top:0px;
  margin: 0px;
  padding: 0px;
}

#wxTemp {
  position: absolute;
  top:10px;
  left: 70px;
  margin: 0px;
  padding: 0px;
  font-size: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#wxCity {
  position: absolute;
  top:60px;
  left: 10px;
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#wxCondition {
  position: absolute;
  top:100px;
  left: 10px;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#wxWindDirection {
  position: absolute;
  top:127px;
  left: 10px;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#wxWindSpeed {
  position: absolute;
  top:145px;
  left: 10px;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#tile5Container{
  position: absolute;
  top:150px;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile6Container{
  position: absolute;
  top:280px;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile7Container{
  position: absolute;
  top:410px;
  left:17px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile8Container{
  position: absolute;
  top:410px;
  left:147px;
  height:120px;
  width:250px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}
#tile9Container{
  position: absolute;
  top:540px;
  left:17px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}
#tile10Container{
  position: absolute;
  top:540px;
  left:147px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}
#tile11Container{
  position: absolute;
  top:540px;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}
#tile12Container{
  position: absolute;
  top:670px;
  left:17px;
}
#tile13Container{
  position: absolute;
  top:670px;
  left:82px;
}
#tile14Container{
  position: absolute;
  top:670px;
  left:147px;
}
#tile15Container{
  position: absolute;
  top:670px;
  left:212px;
}
#tile16Container{
  position: absolute;
  top:670px;
  left:277px;
}
#tile17Container{
  position: absolute;
  top:670px;
  left:342px;
}

#tile18Container {
  position: absolute;
  left:17px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
  }

  #tile19Container{
  position: absolute;
  left:147px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
  }

  #tile20Container{
  position: absolute;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile21Container{
  position: absolute;
  padding:0px;
  margin: 0px;
  top:150px;
  left:17px;
  height:250px;
  width:250px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile22Container{
  position: absolute;
  top:150px;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile23Container{
  position: absolute;
  top:280px;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile24Container{
  position: absolute;
  padding:0px;
  margin: 0px;
  top:410px;
  left:17px;
  height:250px;
  width:250px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
  text-shadow: 0px 0px 5px #000000,
               0px 0px 10px #000000;
}

#tile25Container{
  position: absolute;
  top:410px;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

#tile26Container{
  position: absolute;
  top:540px;
  left:277px;
  height:120px;
  width:120px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}
#tile27Container{
  position: absolute;
  top:670px;
  left:17px;
}
#tile28Container{
  position: absolute;
  top:670px;
  left:82px;
}
#tile29Container{
  position: absolute;
  top:670px;
  left:147px;
}
#tile30Container{
  position: absolute;
  top:670px;
  left:212px;
}
#tile31Container{
  position: absolute;
  top:670px;
  left:277px;
}
#tile32Container{
  position: absolute;
  top:670px;
  left:342px;
}

#tile1Icon, #tile2Icon, #tile5Icon, #tile6Icon, #tile7Icon,
#tile8Icon, #tile9Icon, #tile10Icon, #tile11Icon, #tile18Icon, #tile19Icon,
#tile20Icon, #tile22Icon, #tile23Icon, #tile24Icon, #tile25Icon, #tile26Icon {
  max-height: 100%;
  max-width: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#tile12Icon, #tile13Icon, #tile14Icon, #tile15Icon, #tile16Icon,
#tile17Icon, #tile27Icon, #tile28Icon, #tile29Icon, #tile30Icon, #tile31Icon,
#tile32Icon {
  max-height: 100%;
  max-width: 100%;
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#tile27Icon, #tile28Icon, #tile29Icon, #tile30Icon, #tile31Icon, #tile32Icon {
  max-height: 100%;
  max-width: 100%;
  width: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#tile4Container {
  height: 250px;
  z-index: 0;
}

#tile21Container {
  height: 250px;
  z-index: 0;
}

#wxWrapper {
  margin: 0px;
  height: 250px;
  padding: 0px;
  z-index: 10;
}

#tile24Container {
  height: 250px;
  width: 250px;
  z-index: 0;
}

#artist {
  position: absolute;
  padding: 10px;
  font-size: 16px;
  top: 5px;
  width: 250px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#title {
  position: absolute;
  padding: 10px;
  font-size: 18px;
  top: 30px;
  width: 250px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#album {
  position: absolute;
  padding: 10px;
  top: 57px;
  width: 250px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#previousTrackDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 80px;
}

#previousTrack {
  position: absolute;
  top: 95px;
  left: 40px;
  height: 20px;
  opacity: 0;
}

#playPauseTrackDiv {
  position: absolute;
  top: 0px;
  left: 80px;
  height: 120px;
  width: 80px;
}

#playTrack {
  position: absolute;
  top: 95px;
  left: 23px;
  height: 20px;
  opacity: 0;
}

#pauseTrack {
  position: absolute;
  top: 95px;
  left: 42px;
  height: 20px;
  opacity: 0;
}

#nextTrackDiv {
  position: absolute;
  top: 0px;
  left: 160px;
  height:120px;
  width: 80px;
}

#nextTrack {
  position: absolute;
  top: 95px;
  left: 25px;
  height: 20px;
  opacity: 0;
}

#musicBgBottom{
  position: absolute;
  background-position: center;
  background-size: auto 250px;
  top: 0px;
  height: 120px;
  width: 250px;
  z-index: -1;
  opacity: 0.6;
}

#wxBgBottom {
  position: absolute;
  background-position: center;
  background-size: auto 250px;
  top: 0px;
  height: 250px;
  width: 250px;
  z-index: -1;
}

#wxBgTop {
  position: absolute;
  background-position: center;
  background-size: auto 250px;
  top: 0px;
  height: 250px;
  width: 250px;
  z-index: -1;
}

#wxIcon img {
  position: absolute;
  top: 5px;
  left: 0px;
  height: 65px;
}

#daySection{
  position:absolute;
  left: 10px;
  top:160px;
  height:35px;
  z-index: 5;
}

#daySection p {
  margin:-2px;
  font-size:16px
}

#daySection img {
  width:35px;
}

#daySection div {
  position: relative;
  top:10px;
  left:10px;
  float:left;
  width:68px;
  text-shadow: 0px 0px 5px #000000,
               0px 0px 10px #000000;

}
#tile12Container, #tile13Container, #tile14Container, #tile15Container,
#tile16Container, #tile17Container, #tile27Container, #tile28Container,
#tile29Container, #tile30Container, #tile31Container, #tile32Container {
  height:55px;
  width:55px;
  border-width: 0.5px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}
#eventsContainer {
  width: 100%;
  height: 250px;
  width: 250px;
  position: absolute;
  left: 0px;
  right: 0px;
}

.event {
  margin: 0px;
  height: 45px;
  padding: 0px;
}

p {
  overflow: hidden;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
}

.colour {
  height: 30px;
  width: 3px;
  position: relative;
  left: 5px;
  top: 0px;
  background-color: #00FF00;
  float: left;
  padding: 0px;
  margin: 0px;
}

.title {
  height: 20px;
  width: 200px;
  font-size: 15px;
  font-weight: 100;
  color: white;
  position: relative;
  left: 10px;
  top: 0px;
  float: left;
  padding: 0px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.time {
  height: 15px;
  width: 200px;
  font-size: 10.5px;
  font-weight: 100;
  color: white;
  position: relative;
  left: 10px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0; visibility: hidden;}
  1% {opacity: 0; visibility: visible;}
  100% {opacity: .6; visibility: visible;}
}
@-webkit-keyframes fadeOut {
  0% {opacity: .6; visibility: visible;}
  99% {opacity: 0; visibility: visible;}
  100% {opacity: 0; visibility: hidden;}
